A6API_BASE_URL=
A6API_KEY=
A6API_MODEL=
TRUMAN_LLM_MODE=off
TRUMAN_LLM_MAX_AGENTS=1
TRUMAN_LLM_POPULATION_SHARE=0.1
TRUMAN_LLM_CONCURRENCY=2
TRUMAN_LLM_EVERY_TICKS=5
TRUMAN_SAVE_PATH=.data/linyi-run.json
